include modpipes/models/grids/bc03*.fits
include modpipes/models/grids/dl07*.fits
include modpipes/models/grids/*.txt
include modpipes/filters/UVJ/*.dat
include modpipes/filters/UVJ.filt_list
include modpipes/moons/wavs/*.txt
include modpipes/moons/filters/*
include LICENSE.txt
